﻿@page
@model RazorPages.Pages.Student.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="POST">
     <div class="form-group" style="height: 50px">
                <label class="control-label"></label>
                <input class="form-control" name="gpa"/>
                <span  class="text-danger"></span>
    </div>
    <input type="submit" asp-page-handler="GreaterThan" value="Greater" class="btn btn-default"/>
    <input type="submit" asp-page-handler="LessThan" value="Less" class="btn btn-default"/>
</form>
<hr>
<form>
    <p>
        <div class="form-group" style="height: 50px">
                <label class="control-label"></label>
                <input class="form-control" asp-for="SearchString"/>
                <span  class="text-danger"></span>
        </div>
        <input type="submit" value="Search" class="btn btn-default"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].GPA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
